doctype html
html
  head
    title #{title} - Earthling
    
    //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/jquery.js")
    script(src="Cesium/Cesium.js")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/home/main.css')
    link(rel='stylesheet', href='/Cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/stylesheets/estilos.css')
  body
    #root
      .theme-live.app.mod-desktop
        .app-container
          #map.cesium
          block sidebar
          .hud
            .navigation
              .navigation-items
                .navigation-item.mod-active.mod-live
                  if cUser
                    a(href="#!" class="btn-menu-dashboard user-button")
                  else
                    a(href="/login" class="login-button")
              .menu-icons
                .menu-icon.mod-info
                  
            .top-right
            .bottom
      
    script(src="main.js?v=206")
    script(src="./js/home.js?v=200")
    script(src="./js/jquery.mCustomScrollbar.concat.min.js")
//    .toolbar-left
//        button(onclick='login()' class='login-button' tooltip="Login/Registro")
        
    
